* {
	box-sizing: border-box;
}

a {
	color: #00e;
}

a:visited {
	color: #40a;
}

html, body {
	display: flex;
	flex-flow: column nowrap;
	background: #eee;
	color: #000;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	text-align: center;
}

body {
	padding: 1em 1em 4em 1em;
}

header, footer, svg, object, img, div.sourceCode {
	display: block;
	margin: 1em auto;
	padding: 0;
}

header {
	margin-top: auto;
	color: #888;
}
	header h1 {
		margin: 0;
		font-size: 1.5em;
		font-weight: normal;
	}
		header h1 a,
		header h1 a:visited {
			font: inherit;
			color: inherit;
			text-decoration: inherit;
		}

svg, object, img, main, div.sourceCode, pre {
	background: #fff;
	border: 1px solid #aaa;
	box-shadow: 0.15em 0.15em 0.5em rgba(0,0,0,0.15);
	margin: 1em auto;
	overflow: visible;
}

svg {
	padding: 2em;
	box-sizing: content-box !important;
}

div.sourceCode, pre {
	padding: 1em;
}
	div.sourceCode pre {
		margin: 0em;
		padding: 0em;
		box-shadow: none;
		border: none;
	}

main {
	width: 100%;
	max-width: 40em;
	padding: 1em;
	text-align: left;
}

	main h2 {
		font-size: 1.2em;
	}


body > div,
body > h1,
body > h2,
body > h3,
body > h4,
body > h5,
body > h6,
body > ul,
body > ol,
body > li,
body > pre,
body > p {
	width: 100%;
	max-width: 40rem;
	text-align: left;
	margin: 1rem auto;
}

p {
	text-align: justify;
}

footer {
	margin-bottom: auto;
	color: #888;
}


/*****************************************************************************
 * Main Menu
 */

iframe#index {
	display: none;
}

@media(min-width: 1180px) {
	body {
		margin-left: 220px;
	}

	body.index {
		margin-left: 0;
	}

	iframe#index {
		display: block;
		position: fixed;
		top: 0px;
		left: 0px;
		height: 100%;
		width: 220px;
		border: none;
		background: transparent;
	}

	iframe#index body {
		background: #aaa;
	}
}

/* Index page in main menu (20em wide iframe) */
@media(max-width: 220px) {
	body.index {
		margin: 0em;
		padding: 0em;
		background: #ddd;
		border-right: 1px solid #bbb;
	}

	body.index main,
	body.index main ul,
	body.index main ul li,
	body.index main ul li a {
		display: block;
		margin: 0px;
		padding: 0px;
		list-style: none;
		background: transparent;
		border: none;
		box-shadow: none;
	}

	body.index header {
		margin: 0em;
		padding: 1em;
	}

	body.index footer {
		margin: auto 0em 0em 0em;
		padding: 1em;
	}

	body.index main {
		margin: auto 0px;
		padding: 2em 0px
	}

	main h2 {
		font-size: 1em;
		font-weight: bold;
		margin: 0em;
		padding: 1em 1em 0.3em 1em;
	}

	body.index main ul li a {
		text-decoration: none;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		margin-bottom: -1px;
		padding: 0.3em 1em 0.3em 2em;
		color: #444;
	}

	body.index main ul li a:hover,
	body.index main ul li a:focus {
		background: #cce;
	}

	body.index main ul li a.active {
		background: #888;
		color: #fff;
		border-color: #666;
		position: relative;
	}
}

